.painting-details-container {
    display: flex;
    flex-wrap: wrap; /* Allow flex items to wrap */
    justify-content: flex-start; /* Align content to the start */
    align-items: flex-start; /* Align items at the start */
    height: 100vh;
    padding: 20px;
    overflow-y: auto;
}

.image-comments-container {
    display: flex;
    flex-direction: row; /* Change to row to place image and details side by side */
    justify-content: space-between; /* Add space between image and details */
    align-items: flex-start; /* Align items at the start */
    width: 100%; /* Ensure container takes full width */
    margin-bottom: 20px; /* Add spacing between image and comments */
}

.details-box {
    width: calc(50% - 40px); /* Set width for the details box with spacing */
    min-height: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}

.image-container {
    flex: 1;
    max-width: 60%; /* Allow the image container to take 40% of the width */
    height: 400px; /* Set a fixed height for all image containers */
    overflow: hidden;
}

.image-container img {
    width: auto;
    height: 100%;
    object-fit: contain; /* Ensure the entire image is visible without cropping */
}



.popup {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.comment-form {
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment-input {
    margin-bottom: 20px;
}

.comment-input textarea {
    width: calc(100% - 10px);
    height: 100px;
    padding: 10px;
    margin-bottom: 10px;
}

.comment-input button {
    width: calc(100% - 20px);
}

.edit-painting-form {
    width: 100%;
    max-width: 600px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    overflow-y: scroll;
}

.submit-button {
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
}

.comments-container {
    border: 1px solid #ccc;
    padding: 20px;
    width: 80%; /* Reduce the width of the comments container to 80% */
    max-width: 600px; /* Limit the maximum width to 600px */
    margin: 0 auto; /* Center the comments container horizontally */
    display: flex;
    flex-direction: column;
    align-items: center; /* Align content in the center horizontally */
    justify-content: center; /* Align content in the center vertically */
}



.comments {
    display: flex;
    flex-direction: column;
    align-items: center; /* Align content in the center horizontally */
    justify-content: center; /* Align content in the center vertically */
}

.comment {
    text-align: center; /* Optionally, you can center the text within each comment */
}

.comment-input h3 {
    text-align: center;
}
