/* Custom styling for PaintingList component */

.painting-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the items horizontally */
}

.painting-item {
    flex: 0 0 33%; /* Adjust the width as per your preference */
    padding: 10px;
    box-sizing: border-box;
}

.painting-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

.painting-box h2 {
    margin-top: 0;
}

.painting-box p {
    margin: 0;
}

.painting-box img {
    width: 100%;
    height: auto;
    max-height: 400px; /* Adjust the maximum height of the image */
}

.card:hover {
    transform: scale(1.06);
    transition: transform 0.3s ease;
}

.painting-card:hover {
    transform: scale(1.01);
    transition: transform 0.2s ease;
}
