/* Custom styling for PaintingList component */

.painting-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the items horizontally */
}

.painting-item {
    flex: 0 0 33%; /* Adjust the width as per your preference */
    padding: 10px;
    box-sizing: border-box;
}

.painting-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    display: flex; /* Use flexbox to center items horizontally */
    flex-direction: column; /* Align items vertically */
    align-items: center; /* Center items horizontally */
}

.painting-box h2 {
    margin-top: 0;
}

.painting-box p {
    margin: 0;
}

.painting-box img {
    width: 100%;
    height: auto;
    max-height: 400px; /* Adjust the maximum height of the image */
    object-fit: cover; /* Ensure the image covers its container */
}

.card:hover {
    transform: scale(1.03); 
    transition: transform 0.3s ease;
}

.painting-card:hover {
    transform: scale(1); 
    transition: transform 0.2s ease;
}

.painting-image {
    width: 200px; /* Set the width as per your requirement */
    height: 500px; /* Set the height as per your requirement */
    object-fit: cover; /* Ensure the image covers the specified dimensions */
}

.painting-image-container {
    width: 350px; /* Set the width as per your requirement */
    height: 350px; /* Set the height as per your requirement */
    overflow: hidden; /* Ensure the image doesn't overflow its container */
}


.btn-like {
    background: none;
    border: none;
    padding: 0;
    margin-right: 10px; /* Adjust margin as needed */
    cursor: pointer;
    outline: none;
}

.btn-like:focus {
    outline: none;
}

.liked {
    color: red; /* Change color to red for liked paintings */
}
